/* .Main-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.contentFlex{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.box {
    border: 1px solid black;
    padding: 2px;
    border-radius: 2px;
    margin:10px;
}
/* .image {
    flex: 25%;
    max-width: 25%;
}

.block {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
} */